*{
    margin: 0;
}
.container {
    max-width: 1366px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
header{
    border-bottom: 1px solid black;
    background-color: darkslateblue;
}
.header__contain {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 80px;

}


.btn-cart {
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    margin-top: 20px;
    margin-right: 2%;
}

.products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.product-item {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    overflow: hidden;
}

.desc {
    display: flex;
    justify-content: space-around;
}
.desc__info {
    width: 50%;
}

.desc h3 {
    font-size: 20px;
    font-weight: bold;
}

.cart {
    display: block;
    position: fixed;
    margin-top: 100px;
    margin-right: 25px;
    height: 200px;
    overflow: auto;
    width: 400px;
    background-color: rgba(255, 255, 128, 0.5);;
}
.cart_item {
    margin-top: 15px;
    margin-left: 10px ;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 20px;
}
.cart_item input {
    width: 20px;
    height: 10px;
}

.btn-del {
    height: 15px;
    width: 50px;
    font-size: 10px;
}

